* {
  box-sizing: border-box; }

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
  background-color: #fff; }

a {
  color: #0366d6;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

b,
strong {
  font-weight: bold; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td,
th {
  padding: 0; }

button {
  cursor: pointer;
  border-radius: 0; }

[hidden][hidden] {
  display: none !important; }

details summary {
  cursor: pointer; }

details:not([open]) > *:not(summary) {
  display: none !important; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@media (min-width: 640px) {
  .split, .flex {
    display: flex;
    flex-wrap: wrap; }
    .split.center, .flex.center {
      justify-content: center; }
    .split.align, .flex.align {
      align-items: center; }
    .split .align, .flex .align {
      align-self: center; }
    .split.push, .flex.push {
      align-items: flex-end; }
    .split .push, .flex .push {
      align-self: flex-end; }
    .split.pull, .flex.pull {
      align-items: flex-start; }
    .split .pull, .flex .pull {
      align-self: flex-start; }
  .stack {
    display: flex;
    border: 1px dashed chocolate;
    padding: 0.5rem;
    flex-direction: column; }
    .stack.center {
      align-items: center; }
  .away {
    justify-content: space-between; }
  .align {
    align-items: center; }
  .half {
    flex: 0.5; }
  .fl-1 {
    flex: 1; }
  .fl-2 {
    flex: 2; }
  .fl-3 {
    flex: 3; }
  .fl-4 {
    flex: 4; }
  .fl-5 {
    flex: 5; }
  .fl-6 {
    flex: 6; }
  .fl-7 {
    flex: 7; }
  .fl-8 {
    flex: 8; } }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  line-height: 1.5; }

h1, .h1 {
  font-size: 32px; }

h2, .h2 {
  font-size: 24px; }

h3, .h3 {
  font-size: 20px; }

h4, .h4 {
  font-size: 16px; }

h5, .h5 {
  font-size: 14px; }

h6, .h6 {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  background-color: gainsboro; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.container-fluid {
  max-width: 100%;
  border: 1px solid coral; }

.box {
  background-color: #f8f8f8;
  padding: 0.75rem 1rem;
  margin: 5px; }

.text-center {
  text-align: center; }

header, .header {
  background-color: #5e5e9a;
  height: 400px; }

.navbar {
  padding: 16px;
  height: 65px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15); }
  .navbar a {
    color: #D2D2EE;
    font-size: 14px; }
  .navbar .item {
    padding-right: 16px; }
  .navbar .logo {
    height: 25px; }

.sub-header {
  background-color: #5e5e9a; }

input .g-form {
  width: 100%;
  height: 36px;
  padding: 8px 13px;
  font-size: 13px;
  line-height: 1.5;
  color: #667d99;
  background-color: #e7edf3;
  border: 2px solid transparent;
  border-radius: 4px; }
