@media (min-width: 640px) {
    .split {
        display: flex;
        flex-wrap: wrap;
        border: 1px dashed chocolate;
        padding: 0.5rem;
        margin-bottom: 0.5rem;

        &.center {
            justify-content: center;
        }
    }

    .stack {
        display: flex;
        border: 1px dashed chocolate;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        flex-direction: column;

        &.center {
            align-items: center;
        }
    }

    .away {
        justify-content: space-between;
    }

    .align {
        align-items: center;
    }

    .half {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 50%;
    }

    .fl-1 {
        flex: 1;
    }
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}
