div, a {
    // border: 1px dashed chocolate;
    margin: 2px;
}

@media (min-width: 640px) {
    .split, .flex {
        display: flex;
        flex-wrap: wrap;

        &.center {
            justify-content: center;
        }
        // check justify-self eventually

        &.align {
            align-items: center;
        }

        .align {
            align-self: center;
        }

        &.push {
            align-items: flex-end;
        }

        .push {
            align-self: flex-end;
        }

        &.pull {
            align-items: flex-start;
        }

        .pull {
            align-self: flex-start;
        }
    }

    .stack {
        display: flex;
        border: 1px dashed chocolate;
        padding: 0.5rem;
        flex-direction: column;

        &.center {
            align-items: center;
        }
    }

    .away {
        justify-content: space-between;
    }

    .align {
        align-items: center;
    }

    .half {
        flex: 0.5;
    }

    // change here
    .fl-1 { flex: 1; }
    .fl-2 { flex: 2; }
    .fl-3 { flex: 3; }
    .fl-4 { flex: 4; }
    .fl-5 { flex: 5; }
    .fl-6 { flex: 6; }
    .fl-7 { flex: 7; }
    .fl-8 { flex: 8; }
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}
