@import "_reset";
@import "_flex";

body {
    background-color: gainsboro;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid coral;
}

.box {
    background-color: #f8f8f8;
    padding: 0.75rem 1rem;
    margin: 5px;
}