.navbar {
  padding: 16px;
  height: 65px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15); }
  .navbar a {
    color: #D2D2EE;
    font-size: 14px; }
  .navbar .item {
    padding-right: 16px; }
  .navbar .logo {
    height: 25px; }

.sub-header {
  background-color: #5e5e9a; }
