nav .item {
  text-decoration: none;
  padding: 8px; }

nav .item:hover {
  text-decoration: underline; }

nav .item.auth {
  text-decoration: none;
  padding: 8px 12px; }

.sub-nav {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background-color: white; }
  .sub-nav a {
    padding: 16px 0; }
