.logo {
    height: 40px;
}

.nav {
    .item {
        text-decoration: none;
        padding: 8px;
    }

    .item:hover {
        text-decoration: underline;
    }

    .item.auth {
        text-decoration: none;
        padding: 8px 12px;
    }
}