header, .header {
  background-color: #333333;
  padding: 16px; }
  header a, .header a {
    color: white; }
  header .logo, .header .logo {
    height: 25px; }

nav .item {
  text-decoration: none;
  padding: 8px; }

nav .item:hover {
  text-decoration: underline; }

nav .item.auth {
  text-decoration: none;
  padding: 8px 12px; }

.sub-nav {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background-color: white; }
  .sub-nav a {
    padding: 16px 0; }

input .g-form {
  width: 100%;
  height: 36px;
  padding: 8px 13px;
  font-size: 13px;
  line-height: 1.5;
  color: #667d99;
  background-color: #e7edf3;
  border: 2px solid transparent;
  border-radius: 4px; }
